#carousel-init {

    img {
        height: 500px !important;
        object-fit: cover !important;
        width: 100%;
    }

    .ec-dots {
       .ec-dot {
        &.active {
            background: blue;
        }
       }
    }
}